.movie {
  width: 250px;
  position: relative;

  list-style: none;
}

.movie:hover .moviePosterImage {
  transform: scale(1.5);
  transition: transform 0.5s;
}

.movieTitles {
  background-color: #0f1822;
  color: beige;
  text-align: left;
  padding: 5px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.iconFavourite {
  width: 30px;
  height: 30px;
  color: #fffffe;
  position: absolute;
  right: 0;
  padding: 3px;
  z-index: 1;
  cursor: pointer;

  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.575),
    transparent,
    transparent
  );
}
.iconFavouriteActive {
  width: 30px;
  height: 30px;
  color: #fdc408;
}
.moviePosterImage {
  height: 370px;
  width: 100%;
  object-fit: cover;
}
.imageContainer {
  height: 370px;
  width: 100%;
  overflow: hidden;
}

.movieTitlesIcons {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;

}

.iconDelete {

  font-size: 20px;
  color:rgb(233, 15, 59);
  cursor: pointer;
}

.iconEdit {
  font-size: 20px;
  padding-right: 10px;
}
