.gallery {
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  padding-top: 20px;
}
.clipLoader {
  justify-self: center;
  grid-column: 1/-1;
}
.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  flex-wrap: wrap;
}
.filterContainer label {
  font-size: 26px;
  color: #0f1822;
  font-weight: bold;
}
.movieListContainer {
  padding-top: 120px;
}

.inputFilter {
  padding: 0.8rem;
  height: 20px;
  border-radius: 10px;
  outline: none;
  border: 0px;
  font-size: 26px;
  background-color: beige;
}
.filterFavIcon {
  cursor: pointer;
  font-size: 48px;
  color: rgb(160, 160, 149);
}
