.NavbarContainer {
  min-height: 120px;

  display: flex;
  flex-wrap: wrap;
  background-color: #0f1822;
  color: beige;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-bottom: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  gap:20px;
}
.logoWeb {
  height: 80px;
  object-fit: cover;
  
}
.logoAdd {
  height: 48px;
}

.nameWeb {
  text-decoration: none;
}
.nameWeb:visited {
  text-decoration: none;
  color: beige;
}

